[Unit]
Description=xftp 1.0.1
After=network.target

[Service]
Type=simple
User=root
WorkingDirectory=/root/
ExecStart=/usr/local/xftp/bin/xftp_server /usr/local/xftp/config/
Restart=always

[Install]
WantedBy=multi-user.target
